name: CI/CD Frontend (React)

on:
  push:
    branches:
      - main
    paths:
      - 'users-app/**'
jobs:
  ci_frontend:
    runs-on: ubuntu-latest
    
    defaults:
      run:
        working-directory: ./users-app 

    steps:
      - uses: actions/checkout@v4
      
      - name: Configurar Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '22' 
      - name: Instalar dependencias
        run: npm install
        working-directory: ./users-app 

      - name: Ejecutar Linting
        run: npm run lint
      
      - name: Compilar y verificar (Build Check)
        run: npm run build
      
      - name: Subir Artifacto de Build
        uses: actions/upload-artifact@v4
        with:
          name: build-react-app
          path: frontend/dist 
          retention-days: 1 

  
